/* 
 * Adventurer Theme for Obsidian

 License: GPL-3.0-or-later
 By: CJ Horyza

 
 */



.theme-light {
	--background-primary: #f2ebe2;
	--background-secondary: #ebe2da;
	--h1-color: #5a1409;
	--h1-accent-color: #e0c67f;
	--h1-variant: petite-caps;
	--h1-font: "Arial Narrow", "Arial", sans-serif;
	--h2-color: #9c3c05;
	--h3-color: #ce6700;
	--link-color: #90021c;
	--accent-color: #800000;
	--inline-title-font: "Times New Roman", serif;
	--inline-title-size: 2.2em;
	--inline-title-variant: petite-caps;
	--callout-border-width: 3px;
	--callout-border-color: black;
	--fancy-border-gradient: linear-gradient(to right, var(--h1-accent-color), transparent) 1; 
	--canvas-card-label-color: #5a1409;
	--canvas-background: #544c3f;
	--canvas-color-1: #0098b2;
	--titlebar-background-focused: var(--background-primary);
	--titlebar-background: var(--background-secondary);
	--titlebar-text-color: var(--h1-color);
	--titlebar-text-color-focused: var(--h1-color);
	--tab-text-color: var(--h1-color);	
	--tab-text-color-active: var(--h1-color);
	--tab-text-color-focused-active: var(--h1-color);
	--tab-text-color-focused-active-current: var(--h1-color);
	--tab-text-color-focused: var(--h1-color);
	--tab-background-color: var(--h1-color);
	--icon-color: var(--canvas-background);	
	/*custom variables*/
	--icon-color-top: var(--canvas-background);
	--icon-color-top-focused: (--h2-color);
	--ribbon-icon: var(-canvas-background);
	--ribbon-icon-focused: var(--accent-color);
}

.theme-dark {
	--background-primary: #f2ebe2;
	--background-primary-alt: #fdf1dc;
	--background-secondary: #ebe2da;
	--background-modifier-form-field: var(--color-base-100);
	--h1-color: #5a1409;
	--h1-accent-color: #e0c67f;
	--h1-variant: petite-caps;
	--h1-font: "Arial Narrow", "Arial", sans-serif;
	--h2-color: #9c3c05;
	--h3-color: #ce6700;
	--link-color: #90021c;
	--accent-color: #800000;
	--inline-title-font: "Times New Roman", serif;
	--inline-title-size: 2.2em;
	--inline-title-variant: petite-caps;
	--callout-border-width: 3px;
	--callout-border-color: black;
	--fancy-border-gradient: linear-gradient(to right, var(--h1-accent-color), transparent) 1; 
	--canvas-card-label-color: #5a1409;
	--canvas-background: #544c3f;
	--canvas-color-1: #0098b2;
	--titlebar-background-focused: var(--h1-color);
	--titlebar-background: var(--h1-color);
	--titlebar-text-color: var(--background-primary);
	--tab-text-color: var(--background-secondary);
	--tab-text-color-active: var(--h1-color);
	--tab-text-color-focused-active: var(--h1-color);
	--tab-text-color-focused-active-current: var(--accent-color);
	--tab-text-color-focused: var(--background-primary);
	--icon-color: var(--h1-color);
	--icon-color-focused: var(--background-primary-alt);
	--ribbon-background: var(--h1-color);
	--ribbon-background-collapsed: var(--h3-color);
	--scrollbar-bg: var(--h1-color);
	--scrollbar-thumb-bg: var(--h1-color);
	--scrollbar-active-thumb-bg: var(--h2-color);
	--text-muted: #333333;
	--text-normal: black;
	--interactive-normal: var(--color-accent);
	/*custom variables*/
	--icon-color-secondary: var(--h1-color);
	--icon-muted: #594e4c;
	--icon-color-hover: var(--h1-accent-color);
	--icon-color-top: var(--background-primary);
	--icon-color-top-focused(--background-primary-alt);
	
}

.cm-header-1 {
	font-variant: var(--h1-variant);
	text-shadow: 2px 2px 4px var(--h1-accent-color);

}

body .cm-line:not(.HyperMD-header) {
	--text-letter-spacing: -0.05em;
	letter-spacing: var(--text-letter-spacing);
}

.callout[data-callout="pdf"] {
    --callout-color: 250, 200,40;
	--callout-title-color: #000000;
}

.HyperMD-header-1 {
	border-image: var(--fancy-border-gradient);
    border-bottom: var(--hr-thickness) solid var(--background-modifier-border);
    padding-bottom: 2px;
}

option {
	color: black;
	background-color: black;
}
div.workspace-leaf.mod-active > div > div.search-results-info > select > option{
	color: black;
}
.cm-header {
	font-variant: var(--h1-variant);
}

.workspace-split.mod-horizontal{ 
	 --icon-color: var(--icon-muted); 
	 --icon-color-focused: var(--h1-color);
	--tab-text-color-focused-active-current: var(--accent-color);
	--tab-text-color: var(--background-secondary);
	--tab-text-color-active: var(--h1-color);
	--tab-text-color-focused-active-current: var(--accent-color);
 } 

.workspace-leaf{
	--icon-color: var(--icon-muted);
	--icon-color-focused: var(--h1-color);
}

/* .workspace-leaf:not(.mod-top){ */
	/* --icon-color: green; */
	/* --tab-text-color-focused-active-current: var(--accent-color); */
	/* --icon-color-focused: lightblue; */

/* } */

.callout {
	border-color: black;
	border-top: 0px;
	border-bottom: 0px;
}

.workspace-tabs.mod-top {
	/*this was the best way I could come up with to differentiate horizontal split tabs from regular ones. Please tell me if there is a better one */
	--icon-color: var(--icon-color-top);
	--icon-color-focused: var(--icon-color-top-focused);

}

.side-dock-ribbon{
			--icon-color: var(--ribbon-icon);
	--icon-color-focused: var(--ribbon-icon-focused);
}

body > div.app-container > div.horizontal-main-container > div > div.workspace-split.mod-horizontal.mod-sidedock.mod-right-split > div.workspace-tabs.mod-top.mod-top-right-space > div.workspace-tab-header-container > div.workspace-tab-header-container-inner > div:nth-child(3) > div > div.workspace-tab-header-inner-icon

.inline-title {
	text-shadow: 2px 2px 0px var(--h1-accent-color);
	--this-border-gradient: linear-gradient(to right, var(--h1-color), transparent) 2; 
	border-image: var(--this-border-gradient);
    border-bottom: 4px solid var(--background-modifier-border);
    padding-bottom: 2px;
	
}


/* Leaflet Plugin */
/* sets the background of the map to be the same as the page background */
.leaflet-container {
	
	background-color: var(--background-primary);
}

.block-language-leaflet .leaflet-container {
	background-color: var(--background-primary);
}